<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/app.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/datatables.min.css}"/>
    <title>Activity logs</title>
</head>
<body>
<div class="container-fluid">
    <div class="page-header">
        <h3>Following shows the activity logs:</h3>
    </div>

    <table id="activity-table" class="table table-bordered table-striped table-hover table-condensed" width="100%" style="white-space: nowrap;">
        <thead>
        <tr>
            <th>Details</th>
            <th>Activity ID</th>
            <th>Time</th>
            <th>Type</th>
            <th>User</th>
            <th>File Path</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th></th>
            <th>Activity ID</th>
            <th>Time</th>
            <th>Type</th>
            <th>User</th>
            <th>File Path</th>
        </tr>
        </tfoot>
    </table>

</div>

<script type="text/javascript" th:src="@{/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/app.js}"></script>
</body>
</html>