<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.13/css/jquery.dataTables.min.css}"/>
    <title>Activity logs</title>
</head>
<body>
<h3>Following shows the activity logs:</h3>
<div class="main-container">

    <table id="activity-table" border="1">
        <thead>
        <tr>
            <th>Activity ID</th>
            <th>Time</th>
            <th>Type</th>
            <th>User</th>
            <th>Target User</th>
            <th>Request App</th>
            <th>Subject</th>
            <th>File Path</th>
            <th>File Link</th>
            <th>File Type</th>
            <th>File ID</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Activity ID</th>
            <th>Time</th>
            <th>Type</th>
            <th>User</th>
            <th>Target User</th>
            <th>Request App</th>
            <th>Subject</th>
            <th>File Path</th>
            <th>File Link</th>
            <th>File Type</th>
            <th>File ID</th>
        </tr>
        </tfoot>
    </table>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/datatables/1.10.13/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>